/* body, textarea, button, form, input {
  background-color: #282c34;
  color: #cecece;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  text-align: center;
  opacity: 1;
  animation: fade infinite 2s linear;
}

.slow-loading-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  text-align: center;
  opacity: 1;
  animation: fade-slow 15s linear;
}

.slower-loading-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  text-align: center;
  opacity: 1;
  animation: fade-slow 30s linear;
}

.loading-text-container {
  /*height: 100%;
  width: 100%;*/
  /*display: flex;*/
  /*position: fixed;*/
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fade-slow {
  0%, 25%, 50%, 75% { opacity: 0 }
  100% { opacity: 1 }
}

.MemoForm {
  display: flex;
  flex-direction: column;
  width: 20vw;

}

.MemoForm Button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*.MemoTable th, tr, td {
  border: 1px black solid;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
